*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


.general{
width: 300px;
height: max-content;
background-color: white;
border-radius: 5px;
margin: 50px 500px;
padding: 10px;
position: relative;

}

.heading{

    padding: 10px 0px 10px 20px;
}

.agenda{

    padding: 10px 0px 10px 20px;
    width: 250px;
    height: max-content;

}


.button{

padding: 10px 0px 10px 20px;

}

body{

    background-color: azure;
}

button{

color: white;
background-color: salmon;
width: 230px;
height: 30px;
border: none;
border-radius: 3px;
font-size: 10px;

}

p{

    font-size: 10px;

}

h3{

    font-size: 11px;

}

h2{

    font-size: 15px;
    
}

.topic{

    padding: 10px 0 10px 0;

}

.circle1{

border-radius: 50%;
border: none;
background-color: orchid;
width: 150px;
height: 150px;
position: absolute;
left: 400px;
top: 20px;


}

.circle2{

    border-radius: 50%;
    border: none;
    background-color: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 300px;
    top: 150px;
    
    }