

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.general-card{

    width: 800px;
    height: 1700px;
    background-color: beige;
}

.user-form{
 width: 400px;
 height: 852px;
 border-radius: 4px;
 padding: 40px;
 margin: auto;
 background-color: white;
 font-family: outfit;

}

h2{
    size: 24px;
    font-family: outfit;
    padding: 10px 20px 20px 0;
    
}

h5{

    font-family: outfit;
    font-size: 15px;
    padding: 13px 13px 0 0;
}

.input{

    font-family: outfit;
    font-size: 15px;
    padding: 13px 13px 13px 0;
    width: 200px;
    
   
}



.button{

    width: 320px;
    height: 40px;
    border-radius: 6px;
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    margin:20px 0 0 0;

}



.country{

    
    width: 50px;

}

.number{

    
    width: 110px;

}

